[DXR]
templates=/home/mariusn/w/mdxr/templates
dxrroot=/home/mariusn/w/mdxr/
plugins=dxr.cxx-dehydra

[Web]
wwwdir=/home/mariusn/public_html/
virtroot=/~mariusn/
hosturl=http://localhost

[mozilla-central]
sourcedir=/home/mariusn/workspace/mine/
objdir=/home/mariusn/public_html/mozilla-trees/objdir-mc-opt

