[DXR]
templates=/home/adrian/workspace/code-indx/mdxr/templates
dxrroot=/home/adrian/workspace/code-indx/mdxr/
plugins=dxr.cxx-doxygen

[Web]
wwwdir=/home/adrian/public_html/
virtroot=/~adrian/
hosturl=http://localhost

[test-dox]
sourcedir=/home/adrian/workspace/code-indx/test-dox
objdir=/home/adrian/workspace/code-indx/mdxr/xml/test-dox
revision=
pullcommand=
buildcommand=

[test-dox2]
sourcedir=/home/adrian/workspace/code-indx/test-dox2
objdir=/home/adrian/workspace/code-indx/mdxr/xml/test-dox2
revision=
pullcommand=
buildcommand=

[libva]
sourcedir=/home/adrian/workspace/code-indx/libva
objdir=/home/adrian/workspace/code-indx/mdxr/xml/libva
revision=
pullcommand=
buildcommand=

[libdrm]
sourcedir=/home/adrian/workspace/code-indx/libdrm
objdir=/home/adrian/workspace/code-indx/mdxr/xml/libdrm
revision=
pullcommand=
buildcommand=
